.tg {
    &__btn-save {
        height: 30px;
        margin: 0 8px;
        cursor: pointer;

        &__disabled {
            color: #666 !important;
            cursor: default;
        }
        &__disabled:hover {
            text-decoration: none !important;
        }
    }
}