.tg {
    &__c {
        clear: both;
    }

    &__lists {
        width: 100%;
        display: flex;
        > div {
            width: 50%;
        }
    }
}

@import "save-button.component/save-button";
@import "list.component/list";